body{
	background:skyblue;
}
		table{
			width: 800px;
			margin:auto;
			text-alighn:center;
			table-layout:fixed;
		}
		table, tr, th, td{
			padding: 30px;
			color: white;
			border: 1px solid #080808;
			border-collapse: collapse;
			font-size: 18px;
			font-family: Arial;
			background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
			background:-webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
		}
		td:hover{
		background: orange;
		}